.contactpage{
    position: relative;
}

.c_container{
    display: flex; 
    padding-left: 1.25rem;
    padding-right: 1.25rem; 
    padding-top: 2.5rem;
    padding-bottom: 2.5rem; 
    flex-wrap: wrap; 
}

@media(min-width:640px){
    .c_container{
        flex-wrap: nowrap;
    }
    .subcCont{
        margin-right: 2.5rem;
    }
    .hire{
        font-size: 2.25rem;
        line-height: 2.5rem; 
    }
}

.subcCont{
    display: flex; 
    overflow: hidden; 
    position: relative; 
    padding: 2.5rem; 
    background-color: #111827; 
    justify-content: flex-start; 
    align-items: flex-end; 
    border-radius: 0.5rem; 
}

@media(min-width: 768px){
    .subcCont{
        width: 50%;
    }
    .contactform{
        padding-top: 2rem;
        padding-bottom: 2rem; 
        margin-top: 0; 
        width: 50%; 
    }
}

@media(min-width: 1024px){
    .subcCont{
        width: 66.666667%;
    }
    .subinfo{
        width: 50%;
    }
    .personal{
        margin-top: 0; 
        width: 50%; 
    }

    .contactform{
        width: 33.333333%; 
    }
}

iFrame{
    position: absolute; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
}

.infobox{
    display: flex; 
    position: relative; 
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; 
    background-color: #111827; 
    flex-wrap: wrap; 
    border-radius: 0.25rem; 
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
}

.subinfo{
    padding-left: 1.5rem;
    padding-right: 1.5rem; 
}

.infoHead{
    margin-top: 1rem;
    color: #ffffff; 
    font-size: 0.75rem;
    line-height: 1rem; 
    font-weight: 600; 
    letter-spacing: 0.1em; 
}

.infoP{
    margin-top: 0.25rem;
}

.personal{
    padding-left: 1.5rem;
    padding-right: 1.5rem; 
    margin-top: 1rem; 
}

.myEmail{
    color: #818CF8; 
    line-height: 1.625; 
}

.number{
    line-height: 1.625; 
}

.contactform{
    display: flex; 
    margin-top: 2rem; 
    flex-direction: column; 
    width: 100%;
}

.hire{
    margin-bottom: 0.25rem; 
    color: #ffffff; 
    font-size: 1.875rem;
    line-height: 2.25rem; 
    font-weight: 500;
}

.hireP{
    margin-bottom: 1.25rem; 
    line-height: 1.625; 
}

.formDivs{
    display: flex;
    flex-direction: column;
    position: relative; 
    margin-bottom: 1rem; 
}

.formLabel{
    color: #9CA3AF; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    line-height: 1.75rem;
}

.inp{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem; 
    padding-left: 0.75rem;
    padding-right: 0.75rem; 
    background-color: #1F2937; 
    transition-property: background-color, border-color, color, fill, stroke; 
    transition-duration: 200ms; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
    color: #F3F4F6; 
    font-size: 1rem;
    line-height: 1.5rem; 
    line-height: 2rem; 
    width: 90%; 
    border-radius: 0.25rem; 
    border-width: 1px; 
    border-color: #374151; 
    outline: 0; 
}

.inpL{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem; 
    padding-left: 0.75rem;
    padding-right: 0.75rem; 
    background-color: #1F2937; 
    transition-property: background-color, border-color, color, fill, stroke; 
    transition-duration: 200ms; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
    color: #F3F4F6; 
    font-size: 1rem;
    line-height: 1.5rem; 
    line-height: 1.5rem; 
    width: 90%; 
    height: 8rem; 
    border-radius: 0.25rem; 
    border-width: 1px; 
    border-color: #374151; 
    outline: 0; 
    resize: none; 
}

.subBut{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    padding-left: 1.5rem;
    padding-right: 1.5rem; 
    background-color: #6366F1; 
    color: #ffffff; 
    font-size: 1.125rem;
    line-height: 1.75rem; 
    border-radius: 0.25rem; 
    border-width: 0;
    width: 93.5%; 
}

.subBut:hover{
    background-color: #4F46E5; 
}